/* Fonts */
/* line 13, ../../scss/elements/site-branding.scss */
#site-branding {
  position:relative;
  text-align:center;
  padding-bottom:0px;
  margin: 0 auto;
  margin-top:20px;
  min-width: 20%;
}
   
 /* line 21, ../../scss/elements/site-branding.scss */
  #site-branding .site-name-slogan {
  font-size: 2vw;
    padding-top: 0; }
  /* line 27, ../../scss/elements/site-branding.scss */
  #site-branding #logo {
margin: 0 auto;
    float: left;
    max-width: 90%;
    height: auto;
    margin-right: 25px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out; }
    /* line 42, ../../scss/elements/site-branding.scss */
    #site-branding #logo a {
      display: block; }
    /* line 46, ../../scss/elements/site-branding.scss */
    #site-branding #logo img {
      display: block; }
  /* line 62, ../../scss/elements/site-branding.scss */
  #site-branding .site-name {
     max-width: 100%;
    font-size: 6vmax;
    font-weight: bold;
    letter-spacing: -0.075em;
    font-family: "Josefin Sans","Helvetica Neue", Arial, Helvetica;
    color: #047aab; }
    /* line 70, ../../scss/elements/site-branding.scss */
    #site-branding .site-name a {
      transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      text-decoration: none;
      color: #047aab;
      }
      /* line 76, ../../scss/elements/site-branding.scss */
      #site-branding .site-name a:hover {
        color: rgba(4, 122, 171, 0.85); }
  /* line 82, ../../scss/elements/site-branding.scss */
  #site-branding .site-slogan {
    color: #777;
    font-variant: small-caps; }
